:root{
    --color-primary: #FF7D19;
    --color-primary-option2: #6d492e;
    --color-secondary: #FFFFFF;

    --text-color-primary: #000000;
    --text-color-secondary: #FFFFFF;
}

@font-face {
    font-family: 'Coolvetica';
    src: url("../fonts/Coolvetica\ Rg\ It.otf");
}




body {
    margin: 0px;
    font-family: 'Coolvetica';
    background-color: #f6f6f6;
}

main {
    display: flex;
    gap: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 100vh;
    width: 15%;

    background-color: var(--color-primary);
    color: var(--text-color-secondary);

    box-shadow: 5px 5px 10px #cdcdcd;
}

.menu h2{
    padding-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    margin-bottom: 20px;
}

a {
    color: var(--text-color-secondary);
    text-decoration: none;
}

li div {
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

li div:hover{
    background-color: rgb(from var(--color-primary) calc(r - 20) calc(g - 20) calc(b - 20));
    transform: scale(1.05)
}

.workspace-index {
    display: flex;
    flex-direction: column;
}

.workspace-index h1 {
    text-align: center;
}

.lista-actividades {
    background-color: var(--color-secondary);
    padding: 20px;
    width: 75vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px #cdcdcd;
    border-radius: 10px;
}

.subir-archivo {
    display: flex;
    gap: 10px;
}

.subir-archivo button {
    width: 70px;
}

.lista-actividades button {
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
    font-family: 'Coolvetica';
    border: none;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.lista-actividades button:hover {
    background-color: rgb(from var(--color-primary) calc(r - 20) calc(g - 20) calc(b - 20));
    transform: scale(1.02)
}

.lista-actividades input {
    border-radius: 10px;
    font-family: 'Coolvetica';
}

.categorias {
    display: flex;
}

.workspace-categorias {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 15%;
    align-items: center;
}

.workspace-categorias h1 {
    text-align: center;
}

.categorias-box {
    background-color: var(--color-secondary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px #cdcdcd;
    border-radius: 18px;
    width: 40%;
    margin-top: 10%;
}

.categorias-box input {
    border-radius: 6px;
    height: 20px;
}

.categorias-box button {
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
    font-family: 'Coolvetica';
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.categorias-box button:hover {
    background-color: rgb(from var(--color-primary) calc(r - 20) calc(g - 20) calc(b - 20));
    transform: scale(1.02)
}

.color-categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.color-categoria input {
    cursor: pointer;
    height: 27px;
}

.lista-categorias {
    margin-top: 50px;
    width: 100%;
    min-height: 50px;
    border-radius: 18px;
    box-shadow: 0px 5px 10px #cdcdcd;
    background-color: var(--color-secondary);
}

.tareas {
    display: flex;
}

.workspace-tareas {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 15%;
    align-items: center;

}

.workspace-tareas h1 {
    text-align: center;
}

.tareas-box {
    background-color: var(--color-secondary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px #cdcdcd;
    border-radius: 18px;
    width: 40%;
    margin-top: 10%;
}

.tareas-box input {
    border-radius: 6px;
    height: 20px;
    font-family: 'Coolvetica';
}

.dropdown-select {
    border-radius: 6px;
    height: 25px;
    border-width: 2px;
    border-color: #000000;
    font-family: 'Coolvetica';
}

.tareas-box button {
    margin-top: 10%;
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
    font-family: 'Coolvetica';
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.tareas-box button:hover {
    background-color: rgb(from var(--color-primary) calc(r - 20) calc(g - 20) calc(b - 20));
    transform: scale(1.02)
}