:root{
    --color-primary: #FF7D19;
    --color-secondary: #FFFFFF;

    --text-color-primary: #000000;
    --text-color-secondary: #FFFFFF;
}

@font-face {
    font-family: 'Coolvetica';
    src: url("../fonts/Coolvetica\ Rg\ It.otf");
}




body {
    margin: 0px;
    font-family: 'Coolvetica';
}

main {
    display: flex;
    gap: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 100vh;

    background-color: var(--color-primary);
    color: var(--text-color-secondary);
}

.menu h2{
    padding-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    margin-bottom: 20px;
    
}

a {
    color: var(--text-color-secondary);
    text-decoration: none;
}

li div {
    padding: 10px;
    border-radius: 10px;
}

li div:hover{
    background-color: rgb(from var(--color-primary) calc(r - 20) calc(g - 20) calc(b - 20));
}

button {
    font-family: 'Coolvetica';
    
}